In [1]:
import pandas as pd
import numpy as np

# POLCON dataset
- <b>Goal</b>: Compile the POLCON dataset (Henisz) for further regression analysis
- The dataset coveres 242 countries between 1980-2021. The main variables selected are:
    1. Effective legislative chambers (L1=1)
    2. Effective second legislative chambers (L2=1) 
    3. The existence of an independent judiciary (J=1)
    4. Independent sub-federal entities (states, provinces, regions, â€¦) are coded (F=1) 
    5. Alignment between the executive and the lower legislative chamber is coded (ALIGN E_L1=1) when the party controlling the executive branch is either the largest party in the lower legislative chamber or is a member of a ruling coalition in that chamber.
    6. Alignment between the executive and the upper legislative chamber is coded (ALIGN E_L2=1) when the party controlling the executive branch is either the largest party in the upper legislative chamber or is a member of a ruling coalition in that chamber.
    7. Alignment between the legislative chambers is coded (ALIGN L1_L2) when the same party or coalition of parties (when available) controls a majority in both legislative chambers.
    8. Alignment between the executive and judiciary chambers (ALIGN E_J)
- <b>Assumption</b>:
    - Only take the data from 1920 where power plants start being constructed.

In [ ]:
polcon_dir = "../../data/global_Henisz_POLCON/"

In [3]:
polcon_data = pd.read_excel(polcon_dir+"POLCON_2021_VDEM.xlsx")
polcon_data

,cyear,ccode,cnts_country,polity_country,icrg_country,ctrynm,year,POLCONV_VDEM,POLCONIII_VDEM,L1_VDEM,...,party12nameupper,p12u,party13nameupper,p13u,party14nameupper,p14u,party15nameupper,p15u,country_name,country_text_id
0,21800,2,US,United States,NaN,USA,1800,0.732070,0.392401,1.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,United States of America,USA
1,21801,2,US,United States,NaN,USA,1801,0.729795,0.378752,1.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,United States of America,USA
2,21802,2,US,United States,NaN,USA,1802,0.729795,0.378752,1.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,United States of America,USA
3,21803,2,US,United States,NaN,USA,1803,0.730158,0.380930,1.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,United States of America,USA
4,21804,2,US,United States,NaN,USA,1804,0.730158,0.380930,1.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,United States of America,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18952,9902017,990,SAMOA,NaN,NaN,WSM,2017,NaN,0.000000,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN
18953,9902018,990,SAMOA,NaN,NaN,WSM,2018,NaN,0.000000,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN
18954,9902019,990,SAMOA,NaN,NaN,WSM,2019,NaN,0.000000,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN
18955,9902020,990,SAMOA,NaN,NaN,WSM,2020,NaN,0.000000,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN
18956,9902021,990,SAMOA,NaN,NaN,WSM,2021,NaN,0.000000,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN

In [19]:
var_list = ["ctrynm","country_name","year","l1","l2","j","f","aligne_l1","aligne_l2","alignl1_l2","aligne_j"]
polcon_data_select = polcon_data[var_list]
polcon_data_select = polcon_data_select[polcon_data_select["year"]>=1920]
polcon_data_select.set_index("ctrynm").to_csv("_all_temporal_POLCON.csv")
polcon_data_select

,ctrynm,country_name,year,l1,l2,j,f,aligne_l1,aligne_l2,alignl1_l2,aligne_j
120,USA,United States of America,1920,1.0,1.0,NaN,NaN,0.0,0.0,1.0,NaN
121,USA,United States of America,1921,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN
122,USA,United States of America,1922,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN
123,USA,United States of America,1923,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN
124,USA,United States of America,1924,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18952,WSM,NaN,2017,NaN,NaN,NaN,NaN,1.0,0.0,0.0,NaN
18953,WSM,NaN,2018,NaN,NaN,NaN,NaN,1.0,0.0,0.0,NaN
18954,WSM,NaN,2019,NaN,NaN,NaN,NaN,1.0,0.0,0.0,NaN
18955,WSM,NaN,2020,NaN,NaN,NaN,NaN,1.0,0.0,0.0,NaN
18956,WSM,NaN,2021,NaN,NaN,NaN,NaN,1.0,0.0,0.0,NaN