In [1]:
import pandas as pd
import numpy as np

# State Capacity Dataset 
- <b>Goal</b>: Compile the state capacity dataset (Hanson) for further regression analysis
- The dataset covers 190 countries between 1960-2015. Due to the complexity of the dataset, we do not extrapolate the values. In addition to the State Capacity values, we add the following exploratory variables:
    - Taxes on Income % Tax Revenue 
    - Taxes on Trade % Tax Revenue 
    - Total Tax Revenue % of GDP
- <b>Data citation</b>: Jonathan K. Hanson and Rachel Sigman, “Leviathan’s Latent Dimensions: Measuring State Capacity for Comparative Political Research.” Journal of Politics, forthcoming. https://doi.org/10.1086/715066

In [ ]:
SC_dir = "../../data/global_Hanson_StateCapacityDataset/"

In [2]:
all_results = pd.read_stata(SC_dir+"StateCapacityDataset_v1.dta")
all_results

,cntrynum,country,year,iso3,iso2,ccode,scode,VDem,WBregion,sample_polity,...,milexpercap,milpercap,policecap,StateHist50s,bti_mo,weberian,wbstat,tax_inc_tax,tax_trade_tax,taxrev_gdp
0,1.0,Afghanistan,1960.0,AFG,AF,700.0,AFG,36.0,South Asia,1.0,...,0.948857,2.037175,NaN,0.726306,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Afghanistan,1961.0,AFG,AF,700.0,AFG,36.0,South Asia,1.0,...,0.934870,2.564674,NaN,0.728006,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,Afghanistan,1962.0,AFG,AF,700.0,AFG,36.0,South Asia,1.0,...,0.876937,2.494962,NaN,0.729685,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,Afghanistan,1963.0,AFG,AF,700.0,AFG,36.0,South Asia,1.0,...,0.936218,2.527849,NaN,0.731343,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,Afghanistan,1964.0,AFG,AF,700.0,AFG,36.0,South Asia,1.0,...,0.913283,2.525196,NaN,0.732981,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8832,199.0,South Sudan,2011.0,SSD,SS,525.0,SSU,32.0,Sub-Saharan Africa (all income levels),1.0,...,4.682920,3.107348,NaN,0.599653,NaN,NaN,NaN,NaN,NaN,0.009247
8833,199.0,South Sudan,2012.0,SSD,SS,525.0,SSU,32.0,Sub-Saharan Africa (all income levels),1.0,...,4.592208,2.697507,NaN,0.601541,NaN,NaN,NaN,NaN,NaN,0.025273
8834,199.0,South Sudan,2013.0,SSD,SS,525.0,SSU,32.0,Sub-Saharan Africa (all income levels),1.0,...,4.562591,2.937346,NaN,0.603412,NaN,NaN,0.261111,NaN,NaN,0.018151
8835,199.0,South Sudan,2014.0,SSD,SS,525.0,SSU,32.0,Sub-Saharan Africa (all income levels),1.0,...,4.822781,2.919253,NaN,0.605265,8.0,NaN,0.294444,NaN,NaN,0.026940
8836,199.0,South Sudan,2015.0,SSD,SS,525.0,SSU,32.0,Sub-Saharan Africa (all income levels),1.0,...,4.686739,2.904957,NaN,0.607101,6.0,NaN,0.344445,NaN,NaN,0.082958

In [3]:
var_list = ["cntrynum","country","year","iso3","Capacity","Capacity_sd","tax_inc_tax","tax_trade_tax","taxrev_gdp"]
all_results_select = all_results[var_list]
all_results_select = all_results_select.rename(columns={"Capacity":"StateCapacity","Capacity_sd":"StateCapacity_sd"})
all_results_select = all_results_select.set_index("cntrynum")
all_results_select.to_csv("_all_temporal_state_capacity.csv")
all_results_select

,country,year,iso3,StateCapacity,StateCapacity_sd,tax_inc_tax,tax_trade_tax,taxrev_gdp
cntrynum,,,,,,,,
1.0,Afghanistan,1960.0,AFG,-1.3830,0.419495,NaN,NaN,NaN
1.0,Afghanistan,1961.0,AFG,-1.3620,0.411242,NaN,NaN,NaN
1.0,Afghanistan,1962.0,AFG,-1.3690,0.411928,NaN,NaN,NaN
1.0,Afghanistan,1963.0,AFG,-1.3600,0.422916,NaN,NaN,NaN
1.0,Afghanistan,1964.0,AFG,-1.3790,0.428595,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
199.0,South Sudan,2011.0,SSD,-0.8025,0.440147,NaN,NaN,0.009247
199.0,South Sudan,2012.0,SSD,-0.9320,0.403032,NaN,NaN,0.025273
199.0,South Sudan,2013.0,SSD,-1.4000,0.345209,NaN,NaN,0.018151
199.0,South Sudan,2014.0,SSD,-1.4010,0.335133,NaN,NaN,0.026940
199.0,South Sudan,2015.0,SSD,-1.3680,0.329144,NaN,NaN,0.082958