In [1]:
import pandas as pd
import numpy as np

In [2]:
coal_data = pd.read_csv("_all_temporal_coal_indicators.csv")
coal_data

,Country,Year,Coal_Current_MW,Coal_AnnualMtCO2,Coal_start_year,Coal_Peak_MW,Coal_Ret_MW,Coal_EarlyRet_MW,Coal_Tran_MW,Coal_duration_year,Coal_Share_Ret,Coal_Share_EarlyRet,Coal_Share_Tran,Coal_Share_PhasedOut,Coal_logCurrent_MW
0,Germany,1927,36.0,0.2,1927.0,36.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,3.583519
1,Germany,1928,36.0,0.2,1927.0,36.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.000000,0.0,3.583519
2,Germany,1929,36.0,0.2,1927.0,36.0,0.0,0.0,0.0,2.0,0.000000,0.0,0.000000,0.0,3.583519
3,Germany,1930,36.0,0.2,1927.0,36.0,0.0,0.0,0.0,3.0,0.000000,0.0,0.000000,0.0,3.583519
4,Germany,1931,36.0,0.2,1927.0,36.0,0.0,0.0,0.0,4.0,0.000000,0.0,0.000000,0.0,3.583519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3966,Belgium,2022,0.0,0.0,1949.0,2865.0,2188.0,0.0,677.0,73.0,76.369983,0.0,23.630017,100.0,0.000000
3967,Peru,2022,0.0,0.0,1999.0,135.0,135.0,135.0,0.0,23.0,100.000000,100.0,0.000000,100.0,0.000000
3968,Portugal,2022,0.0,0.0,1964.0,2028.0,1296.0,0.0,732.0,58.0,63.905325,0.0,36.094675,100.0,0.000000
3969,Sweden,2022,0.0,0.0,1963.0,291.0,291.0,0.0,0.0,59.0,100.000000,0.0,0.000000,100.0,0.000000
3970,United Arab Emirates,2022,0.0,0.0,2020.0,1200.0,1200.0,1200.0,0.0,2.0,100.000000,100.0,0.000000,100.0,0.000000

In [17]:
gas_data = pd.read_csv("_all_temporal_gas_indicators.csv")

In [18]:
print(len(coal_data["Country"].unique()))
print(coal_data["Year"].min())
print(coal_data["Year"].max())

81
1927
2022

In [21]:
print(len(gas_data["Country Code"].unique()))
print(gas_data["year"].min())
print(gas_data["year"].max())

69
1924
2023

In [28]:
for ind in ["Coal_Share_Ret","Coal_Share_Tran","Coal_Share_PhasedOut","Gas_Share_Ret",
            "Coal_duration_year","Gas_duration_year","Coal_logCurrent_MW","Gas_logCurrent_MW"]:
    if "Gas" in ind:
        new_df = pd.DataFrame(data={"Mean":gas_data[ind].mean(), "STD":gas_data[ind].std(),
                               "Min":gas_data[ind].min(),"Max":gas_data[ind].max(),
                                    "N":len(gas_data[ind])},index=[ind])
    else:
        new_df = pd.DataFrame(data={"Mean":coal_data[ind].mean(), "STD":coal_data[ind].std(),
                               "Min":coal_data[ind].min(),"Max":coal_data[ind].max(),
                                    "N":len(coal_data[ind])},index=[ind])
    if ind == "Coal_Share_Ret":
        stats = new_df
    else:
        stats = pd.concat([stats,new_df])
stats = round(stats,2)
stats

                       Mean    STD   Min     Max     N
Coal_Share_Ret         2.07   9.02  0.00  100.00  3971
Coal_Share_Tran        0.87   4.54  0.00   50.00  3971
Coal_Share_PhasedOut   2.77  11.50  0.00  100.00  3971
Gas_Share_Ret          0.05   0.54  0.00   14.08  3100
Coal_duration_year    29.40  19.95  0.00   95.00  3971
Gas_duration_year     27.12  19.99  0.00   99.00  3100
Coal_logCurrent_MW     7.45   2.06  0.00   13.91  3971
Gas_logCurrent_MW      7.42   2.01  3.04   13.21  3100