In [1]:
import pandas as pd
import numpy as np

In [30]:
gas_cap_data = pd.read_csv("../_all_temporal_gas_indicators.csv")
gas_var_list = ["Gas_Current_MW","Gas_Share_Ret","Gas_Share_PhasedOut"]
gas_stats = pd.DataFrame(data={"Variable":gas_var_list,"Mean":np.nan,
                  "STD":np.nan, "Min":np.nan, "Max":np.nan, "N":np.nan
                  }).set_index("Variable")
gas_stats["N"] = len(gas_cap_data)
gas_stats["Year Range"] = str(gas_cap_data["year"].min())+"-"+str(gas_cap_data["year"].max())
gas_stats["Number of Countries"] = len(gas_cap_data["Country Code"].unique())
for i in gas_var_list:
    gas_stats.loc[i,"Mean"] = round(gas_cap_data[i].mean(),2)
    gas_stats.loc[i,"STD"] = round(gas_cap_data[i].std(),2)
    gas_stats.loc[i,"Min"] = round(gas_cap_data[i].min(),2)
    gas_stats.loc[i,"Max"] = round(gas_cap_data[i].max(),)
gas_stats

,Mean,STD,Min,Max,N,Year Range,Number of Countries
Variable,,,,,,,
Gas_Current_MW,8947.55,34756.74,21.0,545716.0,4321,1924-2023,107
Gas_Share_Ret,0.09,1.36,0.0,32.0,4321,1924-2023,107
Gas_Share_PhasedOut,0.00,0.00,0.0,0.0,4321,1924-2023,107

In [21]:
coal_cap_data = pd.read_csv("../_all_temporal_coal_indicators.csv")
coal_var_list = ["Coal_Current_MW","Coal_Share_Ret","Coal_Share_Tran","Coal_Share_PhasedOut"]
coal_stats = pd.DataFrame(data={"Variable":coal_var_list,"Mean":np.nan,
                  "STD":np.nan, "Min":np.nan, "Max":np.nan
                  }).set_index("Variable")
coal_stats["N"] = len(coal_cap_data)
coal_stats["Year Range"] = str(coal_cap_data["Year"].min())+"-"+str(coal_cap_data["Year"].max())
coal_stats["Number of Countries"] = len(coal_cap_data["Country"].unique())
for i in coal_var_list:
    coal_stats.loc[i,"Mean"] = round(coal_cap_data[i].mean(),2)
    coal_stats.loc[i,"STD"] = round(coal_cap_data[i].std(),2)
    coal_stats.loc[i,"Min"] = round(coal_cap_data[i].min(),2)
    coal_stats.loc[i,"Max"] = round(coal_cap_data[i].max(),)
coal_stats

,Mean,STD,Min,Max,N,Year Range,Number of Countries
Variable,,,,,,,
Coal_Current_MW,14887.00,65670.18,0.0,1098578.0,3971,1927-2022,81
Coal_Share_Ret,2.07,9.02,0.0,100.0,3971,1927-2022,81
Coal_Share_Tran,0.87,4.54,0.0,50.0,3971,1927-2022,81
Coal_Share_PhasedOut,2.77,11.50,0.0,100.0,3971,1927-2022,81

In [25]:
coalgas_data = pd.read_csv("../../../analysis/temporal_country_models/_all_temporal_coalgas_var.csv")
coalgas_var_list = ['Share_VRE_Gen', 'Share_Gas_Gen', 'Share_Coal_Gen', 'Coal_Gen_Decline_Perc', 'Gas_Gen_Decline_Perc']
coalgas_stats = pd.DataFrame(data={"Variable":coalgas_var_list,"Mean":np.nan,
                  "STD":np.nan, "Min":np.nan, "Max":np.nan
                  }).set_index("Variable")
coalgas_stats["N"] = len(coalgas_data)
coalgas_stats["Year Range"] = str(int(coalgas_data["year"].min()))+"-"+str(int(coalgas_data["year"].max()))
coalgas_stats["Number of Countries"] = len(coalgas_data["Country Code"].unique())
for i in coalgas_var_list:
    coalgas_stats.loc[i,"Mean"] = round(coalgas_data[i].mean(),2)
    coalgas_stats.loc[i,"STD"] = round(coalgas_data[i].std(),2)
    coalgas_stats.loc[i,"Min"] = round(coalgas_data[i].min(),2)
    coalgas_stats.loc[i,"Max"] = round(coalgas_data[i].max(),)
coalgas_stats

,Mean,STD,Min,Max,N,Year Range,Number of Countries
Variable,,,,,,,
Share_VRE_Gen,0.02,0.06,0.0,1.0,3126,1990-2022,121
Share_Gas_Gen,0.30,0.31,0.0,1.0,3126,1990-2022,121
Share_Coal_Gen,0.22,0.26,0.0,1.0,3126,1990-2022,121
Coal_Gen_Decline_Perc,6.56,17.92,0.0,100.0,3126,1990-2022,121
Gas_Gen_Decline_Perc,3.64,12.43,0.0,91.0,3126,1990-2022,121

In [32]:
all_data = pd.concat([gas_stats, coal_stats, coalgas_stats])
all_data.to_csv("coal_gas_stats.csv")