In [1]:
import pandas as pd
import numpy as np

In [29]:
def calc_stats(select_data,year_colname,country_colname,variabel_colnames):
    select_stats = pd.DataFrame(data={"Variable":variabel_colnames,"Mean":np.nan,
                      "STD":np.nan, "Min":np.nan, "Max":np.nan
                      }).set_index("Variable")
    for i in variabel_colnames:
        this_select_data = select_data[[year_colname,country_colname,i]].dropna()
        select_stats["N"] = len(this_select_data)
        select_stats["Year Range"] = str(int(this_select_data[year_colname].min()))+"-"+str(int(this_select_data[year_colname].max()))
        select_stats["Number of Countries"] = len(this_select_data[country_colname].unique())
        select_stats.loc[i,"Mean"] = round(this_select_data[i].mean(),2)
        select_stats.loc[i,"STD"] = round(this_select_data[i].std(),2)
        select_stats.loc[i,"Min"] = round(this_select_data[i].min(),2)
        select_stats.loc[i,"Max"] = round(this_select_data[i].max(),)
    return select_stats

In [30]:
climate_opinion = pd.read_csv("../_all_temporal_climate_opinion.csv")
year_colname = "year"
country_colname = "country"
variabel_colnames = ["Survey_Belief_%"]
climate_stats = calc_stats(climate_opinion,year_colname,country_colname,variabel_colnames)
climate_stats

                  Mean    STD   Min   Max    N Year Range  Number of Countries
Variable
Survey_Belief_%  42.85  10.52  16.0  65.0  141  2021-2022                  111

In [31]:
power_reform = pd.read_csv("../_all_temporal_power_reform.csv")
year_colname = "year"
country_colname = "country"
variabel_colnames = ["R_Choice"]
power_stats = calc_stats(power_reform,year_colname,country_colname,variabel_colnames)
power_stats

          Mean   STD  Min  Max     N Year Range  Number of Countries
Variable
R_Choice  0.13  0.34  0.0  1.0  7298  1982-2022                  178

In [32]:
policy = pd.read_csv("../_all_temporal_policy.csv")
year_colname = "Year"
country_colname = "ISO"
variabel_colnames = ["num_supply_policy","annex_one"]
policy_stats = calc_stats(policy,year_colname,country_colname,variabel_colnames)
policy_stats

                   Mean   STD  Min   Max     N Year Range  Number of Countries
Variable
num_supply_policy  1.64  2.88  0.0  22.0  8272  1980-2023                  188
annex_one          0.15  0.36  0.0   1.0  8272  1980-2023                  188

In [33]:
world_dev = pd.read_csv("../_all_temporal_world_development.csv")
year_colname = "year"
country_colname = "Country Code"
variabel_colnames = ["logGDPpc","WDI_NG_El_%","WDI_Coal_El_%"]
world_dev_stats = calc_stats(world_dev,year_colname,country_colname,variabel_colnames)
world_dev_stats

                Mean    STD   Min    Max     N Year Range  Number of Countries
Variable
logGDPpc        9.13   1.17  6.08   12.0  9290  1960-2022                  248
WDI_NG_El_%    18.10  26.00  0.00  100.0  9290  1960-2022                  248
WDI_Coal_El_%  18.65  25.74  0.00  100.0  9290  1960-2022                  248

In [36]:
BP_data = pd.read_csv("../_all_temporal_BPstats.csv")
year_colname = "year"
country_colname = "country"
variabel_colnames = ["BP_GasR2P_yr"]
BP_stats = calc_stats(BP_data,year_colname,country_colname,variabel_colnames)
BP_stats

,Mean,STD,Min,Max,N,Year Range,Number of Countries
Variable,,,,,,,
BP_GasR2P_yr,116.04,250.43,0.0,3170.0,2481,1980-2020,65

In [49]:
coal_trade_data = pd.read_csv("../_temporal_BACI_DGD_Coal_both.csv")
coal_trade_data["NetValue_Coal_ImportK"] = coal_trade_data["NetValue_Coal_Import"]/1000
coal_trade_data = coal_trade_data[coal_trade_data["year"]!=0]
year_colname = "year"
country_colname = "country"
variabel_colnames = ["HHI_Coal_Import","NetValue_Coal_ImportK"]
coal_trade_stats = calc_stats(coal_trade_data,year_colname,country_colname,variabel_colnames)
coal_trade_stats

,Mean,STD,Min,Max,N,Year Range,Number of Countries
Variable,,,,,,,
HHI_Coal_Import,0.67,0.31,0.00,1.0,4668,1995-2021,225
NetValue_Coal_ImportK,0.00,3496.93,-52647.65,28314.0,4668,1995-2021,225

In [50]:
gas_trade_data = pd.read_csv("../_temporal_BACI_DGD_Gas_both.csv")
gas_trade_data["NetValue_Gas_ImportK"] = gas_trade_data["NetValue_Gas_Import"]/1000
gas_trade_data = gas_trade_data[gas_trade_data["year"]!=0]
year_colname = "year"
country_colname = "country"
variabel_colnames = ["HHI_Gas_Import","NetValue_Gas_ImportK"] # thousand current USD
gas_trade_stats = calc_stats(gas_trade_data,year_colname,country_colname,variabel_colnames)
gas_trade_stats

,Mean,STD,Min,Max,N,Year Range,Number of Countries
Variable,,,,,,,
HHI_Gas_Import,0.75,0.32,0.00,1.0,4370,1995-2021,223
NetValue_Gas_ImportK,-0.00,5721.25,-68586.15,71566.0,4370,1995-2021,223

In [51]:
all_data = pd.concat([climate_stats,power_stats,policy_stats,world_dev_stats,BP_stats,
          coal_trade_stats,gas_trade_stats])
all_data.to_csv("indep_stats.csv")

In [48]:
gas_trade_data["NetValue_Gas_Import"]

0       1092030.077
1       1320689.101
2       1413984.196
3       1451715.165
4       1234508.643
           ...
4366     -79489.364
4367     -69958.203
4368     -54089.686
4369         -0.131
4370     -19223.858
Name: NetValue_Gas_Import, Length: 4370, dtype: float64